<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../css/admCreate.css">
        <title>Panel Administrativo - Edit</title>
</head>

<body>
    <%- include('../partials/header')%>

        <main class="containerCreate">

            <section class="create-form-container">

                <form action="/products/<%= shirtShow.dataValues.id %>?_method=PUT" method="POST" class="create-form-sections" enctype="multipart/form-data">


                    <h1 class="title-carga">EDIT PRODUCT</h1>


                    <fieldset class="fieldCreate">
                        <legend class="legendCreate"> DETAIL </legend>

                        <input id="nombre" type="text" name="title" placeholder="Nombre del producto"
                            value="<%= shirtShow.dataValues.shirt_name %>">

                        <input class="number-input" id="precio" type="number" name="price" placeholder="Precio" min="0"
                            step=".01" value="<%= shirtShow.dataValues.shirt_price%>">

                        <textarea name="description" id="descripcion" placeholder="Descripción del producto"><%= shirtShow.dataValues.shirt_desc %> </textarea>
                    </fieldset>

                    <fieldset class="fieldCreate">
                        <legend class="legendCreate"> IMAGEN</legend>
                        <div><img src="../../images/Remeras/<%= shirtShow.dataValues.shirt_img %>" class="d-block w-100" alt="..."></div>
                        <input type="file" name="image" id="image" accept="image/png, image/jpg, image/jpeg">
                    </fieldset>

                    <fieldset class="fieldCreate">
                        <legend class="legendCreate"> STOCK </legend>

                        <% for( let i = 0; i < 6; i++ ) { %>
                            
                            <label for="<%= talles[i].dataValues.shirt_size %>"><%= talles[i].dataValues.shirt_size %> : <input type="number" class="number-input" name="<%= talles[i].dataValues.shirt_size %>"
                                placeholder="Cantidad en stock" min="0" step="1"
                                value="<%= talles[i].dataValues.shirt_stock %>">
                            </label>

                        <% } %>

                    </fieldset>

                    <button class="cargar-prod" type="submit">EDITAR PRODUCTO</button>

                </form>
            </section>

        </main>

        <%- include('../partials/footer') %>

</body>

</html>