<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../css/admCreate.css">
        <title>Panel Administrativo - Edit</title>
</head>

<body>
    <%- include('../partials/header')%>

        <main class="containerCreate">

            <section class="create-form-container">

                <form action="/products/<%=idP%>?_method=PUT" method="POST" class="create-form-sections"
                    enctype="multipart/form-data">


                    <h1 class="title-carga">EDIT PRODUCT</h1>


                    <fieldset class="fieldCreate">
                        <legend class="legendCreate"> DETAIL </legend>

                        <input type="number" name="id" id="id" placeholder="Id del producto"
                            value="<%= selectedProduct.id %>">

                        <input id="nombre" type="text" name="title" placeholder="Nombre del producto"
                            value="<%= selectedProduct.title %>">

                        <input class="number-input" id="precio" type="number" name="price" placeholder="Precio" min="0"
                            step=".01" value="<%= selectedProduct.price %>">

                        <textarea name="description" id="descripcion" placeholder="Descripción del producto"><%= selectedProduct.description %>
                        </textarea>
                    </fieldset>

                    <fieldset class="fieldCreate">
                        <legend class="legendCreate"> IMAGEN </legend>
                        <input type="file" name="image" id="image" accept="image/png, image/jpg, image/jpeg">
                    </fieldset>

                    <fieldset class="fieldCreate">
                        <legend class="legendCreate"> STOCK </legend>

                        <label for="xs">XS : <input type="number" class="number-input" name="xs"
                                placeholder="Cantidad en stock" min="0" step="1"
                                value="<%= selectedProduct.sizesQuantity[0] %>"></label>

                        <label for="s">S : <input type="number" class="number-input" name="s"
                                placeholder="Cantidad en stock" min="0" step="1"
                                value="<%= selectedProduct.sizesQuantity[1] %>"></label>

                        <label for="m">M : <input type="number" class="number-input" name="m"
                                placeholder="Cantidad en stock" min="0" step="1"
                                value="<%= selectedProduct.sizesQuantity[2] %>"></label>

                        <label for="l">L : <input type="number" class="number-input" name="l"
                                placeholder="Cantidad en stock" min="0" step="1"
                                value="<%= selectedProduct.sizesQuantity[3] %>"></label>

                        <label for="xl">XL : <input type="number" class="number-input" name="xl"
                                placeholder="Cantidad en stock" min="0" step="1"
                                value="<%= selectedProduct.sizesQuantity[4] %>"></label>

                        <label for="xxl">XXL : <input type="number" class="number-input" name="xxl"
                                placeholder="Cantidad en stock" min="0" step="1"
                                value="<%= selectedProduct.sizesQuantity[5] %>"></label>

                    </fieldset>

                    <button class="cargar-prod" type="submit">EDITAR PRODUCTO</button>

                </form>
            </section>

        </main>

        <%- include('../partials/footer') %>

</body>

</html>