<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/Detallado.css">
        <title>SelfInd</title>
</head>

<body>
    <%- include('../partials/header')%> 
    <main>
        <div class="carousel-boot">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="<%- productsArray[idP].image %> " class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="<%- productsArray[idP].image %>" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="<%- productsArray[idP].image %>" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="detalle-producto">
            <h1><%- productsArray[idP].title %> </h1>
            <p class="precio-producto">$<%- productsArray[idP].price %> </p>
            <p class="descripcion-producto"><%- productsArray[idP].description %> </p>
            <div class="envios-talle">
                
                <div class="talle-div">
                    <label for="talle">Talle</label>
                    <select id="talle" name="talle">
                        <% for( let i = 0; i < 6; i++ ) { %>
                            <% if (productsArray[idP].sizesQuantity[i] >= 1) { %>
                                <option value="<%-i%>"> <%-sizesList[i]%> </option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="envios-div">
                    <input type="checkbox" name="envio" id="envio">
                    <label for="envio">Envio a domicilio</label>
                </div>
            </div>


            <div class="botones">
                <button type="submit">Comprar</button>
                <button type="submit">Agregar al carrito</button>

            </div>
        </div>
    </main>
    <%- include('../partials/footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>