<!DOCTYPE html>
<html lang="en">

<head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/products.css">
        <title>Listado de productos</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <% for (let i=0;i < listado.length; i++){ %>
                <article class="articulo">
                    <a class="articulo" href="/products/<%=listado[i].dataValues.shirt_id %> ">
                        <img src="<%-"../images/Remeras/" +  listado[i].dataValues.shirt_img -%>" alt="" class="img-articulo">
                        
                        <h5 class="titulo">
                            <%- listado[i].dataValues.shirt_name %>
                             - $<%- listado[i].dataValues.shirt_price %>
                        </h5>

                        

                        <h5 class="titulo">ID:<%- listado[i].dataValues.shirt_id %>
                            <form action="/products/<%- listado[i].dataValues.shirt_id %>?_method=DELETE" method="post">
                                <button type="submit"><i class="fas fa-trash"></i></button>
                            </form>
                        </h5>
                    </a>
                </article>
                <% }%>
        </main>

    <%- include('../partials/footer') %>
</body>

</html>