<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/Detallado.css">
        <title>SelfInd</title>
</head>

<body>
    <%- include('../partials/header')%>
    <%- include('../partials/burguer-nav')%>
        <main>
            <div class="carousel-boot">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="<%-" ../images/Remeras/" + shirtShow.dataValues.shirt_img %> " class="d-block
                            w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="<%-" ../images/Remeras/" + shirtShow.dataValues.shirt_img %>" class="d-block
                            w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="<%-" ../images/Remeras/" + shirtShow.dataValues.shirt_img %>" class="d-block
                            w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <% if (inStock.length > 0) { %>
            <div class="detalle-producto">
                <h1><%- shirtShow.dataValues.shirt_name %> </h1>
                <p class="precio-producto">$<%- shirtShow.dataValues.shirt_price %> </p>
                <p class="descripcion-producto"><%- shirtShow.dataValues.shirt_desc %> </p>


                <p class="TallesDisponibles">Talles disponibles</p>
                    <div class="talle-div">
                                <% for( let i=0; i < inStock.length; i++ ) { %>
                                <input type="radio" name="talle" id="<%-inStock[i].dataValues.shirt_size%>" value="<%-inStock[i].dataValues.shirt_size%>" class="talleRadio">
                                <label class="talleCard" for="<%-inStock[i].dataValues.shirt_size%>"><%-inStock[i].dataValues.shirt_size%></label>
                                <% } %>
                    </div>


                <div class="botones">
                    <form action="/addCart/<%- shirtShow.dataValues.shirt_id %>" method="post">
                        <button class="mainBtn" type="submit">Agregar al carrito</button>
                    </form>
                    <% if (session.admin == 1) { %>
                        <form class="form-bt-edit" action="/products/edit/<%- shirtShow.dataValues.shirt_id %>" method="get">
                            <button class="mainBtn" type="submit">&#128221 Editar</button>
                        </form>
                    <% } %>
                </div>
                
            </div>
            <% }else{ %> 
                <div class="detalle-producto soldout">
                    <h1><%- shirtShow.dataValues.shirt_name %> </h1>
                    <p class="descripcion-producto"><%- shirtShow.dataValues.shirt_desc %> </p>

                    <h5>SOLD OUT ITEM</h5>
                    <% if (session.admin == 1) { %>
                        <div class="botones">
                            <form action="/products/edit/<%- shirtShow.dataValues.shirt_id %>" method="get">
                                <button class="mainBtn" type="submit">&#128221 Editar</button>
                            </form>
                        </div>
                        
                    <% } %>
                </div>
            <% } %> 
        </main>
        <%- include('../partials/footer') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
                crossorigin="anonymous"></script>
                <script src="../javascript/main.js"></script>
</body>

</html>