<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../css/carrito-style.css">
    <title>SelfInd</title>
</head>

<body>
    <%- include('../partials/header')%> 
    <%- include('../partials/burguer-nav')%>
    <main>

        <section class="carrito">
            <div class="header-boxes">
                <h3 class="titulos-boxes">Carrito</h3>
                <button class="remove-all">Borrar todo</button>
            </div>

            <div class="box-car-articles">
                <% for( let i = 0; i < allShirts.length; i++ ) { %>
                    <article id="car-article">

                        <div class="header-article">
                            <p class="title-prod"><%- allShirts[i].shirt_name %></p>
    
                            <a class="btn-del-article" href="#"><i class="fas fa-trash-alt"></i></a>
                        </div>
    
                        <div class="preview-article">
                            <img class="img-article" src="<%-" ../images/Remeras/" + allShirts[i].shirt_img %> " />
                        </div>
    
                        

    
                        <div class="detail-article">
                            <label class="title-detail">Precio</label>
                            <p class="data-detail"><%- '$' + allShirts[i].shirt_price  %></p>
                        </div>

                        <div class="detail-article">
                            <label for="talle" class="title-detail">Talle</label>
                            <select id="talle" name="talle">
                                <% for( let e=0; e < allData[i].length; e++ ) { %>
                                <option value="<%-allData[i][e]%>"> <%-allData[i][e]%> </option>
                                <% } %>
                            </select>
                        </div>
    
                        <div class="detail-article cant-div">
                            <label for="cantidad" class="title-detail">Cantidad</label>
                            <input name="cantidad" id="cantidad" type="number" class="data-detail cant">
                        </div>
    
                        <div class="detail-article">
                            <label class="title-detail">Total</label>
                            <p class="data-detail">$000.00</p>
                        </div>
    
                    </article>
                <% } %>
            </div>

        </section>

        <section class="pagoFinal">
            <div class="header-boxes">
                <h3 class="titulos-boxes">Buy</h3>
            </div>

            <div class="box-buy-sections">

                <article id="buy-section">
                    <label class="buy-title">¿Tienes un cúpon de descuento? <i class="fas fa-tag"></i></label>
                    <input class="code-input" type="text" placeholder="Código">
                    <div class="div-envio">
                        <button class="mainBtn">Envio a domicilio</button>
                        <button class="mainBtn">Retiro por sucursal</button>
                    </div>
                    <label class="buy-title">Resumen de compra</label>

                    <div class="buy-detail">
                        <p class="buy-title ">Subtotal</p>
                        <p class="data-detail">$000.00</p>
                    </div>


                </article>


                <article class="payment" id="buy-section">
                    <div class="buy-detail">
                        <p class="buy-title ">Total a Pagar</p>
                        <p class="data-detail">$000.00</p>
                    </div>
                    <button class="mainBtn">Pagar</button>
                </article>

            </div>

        </section>

    </main>
    <script src="./javascript/main.js"></script>
    <%- include('../partials/footer') %> 
</body>

</html>