<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>SelfInd</title>
</head>

<body>
    <%- include('../partials/header')%> 
    <main>

        <% /* console.log(listado) */ %> 
        <% for( let i = 0; i < listado.length; i++ ) { %>
            <div>
                <img src="<%-"../images/users/" +  listado[i].dataValues.user_pic -%>"  alt="Imagen no disponible" width="50px" height="50px">
                <p><%= listado[i].dataValues.user_nick %> </p>
                <p><%= listado[i].dataValues.user_email %> </p>
                <p><%= listado[i].dataValues.user_pass %> </p>
                <br>
            </div>
        <% } %>

    </main>
    <%- include('../partials/footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>


</html>